#jitsi-iframe{
   text-align: center;
   padding-top: 75px;
}
.controlIcon i {
   padding: 12px;
   font-size: 27px;
   background: #ebebeb;
   margin: 5px;
}
.item-center{
   text-align: center;
   padding: 20px;
}