.thnk-text{
   
    text-align: center;
    font-size: 150px;
    color: #993333;
    padding: 0 !important;
    margin: 0 !important;
    background: -webkit-linear-gradient(#3be63a, #2467c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newMetnglnk {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    width: 209px;
    text-transform: uppercase;
    margin: 0 auto;
    background: black;
    color: #fff;
    cursor: pointer;
}